.issue__actions {
  // text-align: center;  
}

.modalBackground {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
}

.modalShowing-true {
  opacity: 1;
  pointer-event: showing;
}