.ticket__cards {
  // border: 2px solid Black;
  // background-color: rgb(175, 174, 255);
  padding: 5px;
}

.ticket__card-left, .ticket__card-right {
  color: black;
  font-size: 20px;
}

// //right

// .ticket__status {
//   color: black;
//   font-size: 20px;

// }

// .ticket__id {
//   color: black;
//   font-size: 20px;
// }

// .created__at {
//   color: black;
//   font-size: 20px;
// }



// // left

// .maintenance__type {
//   color: black;
//   font-size: 20px
// }
