.ticket__info {
  margin-top: 5px;
  display:flex;
  justify-content: space-around;
}

.expenses__info {
  display: flex;
  justify-content: space-around;
}

.graph__allProperties {
  display:flex;
  justify-content: space-around;
  // background-color: tan;

}