.all__stats {
  padding-left: 10px;
  margin: 5px;
}
.ticket__info__all {
  padding: 20px;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.expenses__info__all {
  display: flex;
  justify-content: space-around;
}

.graph__comparison{
  display:flex;
  justify-content: space-around;
}

.card__graph {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.property__images {
  padding-bottom: 5px;
  height: 50%;
  width: 100%;
  align-self: center;
}

.card__left {
  height: 50%;
  width: 50%;
}

.card__container {
  display: flex;
}


.card-header {
  background-color: white;
}

.property__cards {
  align-self:flex-start;
}

.property__cards {
  width: 18rem;
  color: black;
  font-size: 20px;
  text-align: center;
}
