.dashboard {
    display: flex;
    // width: 100%;
    // justify-content: space-between;
    flex-direction:column;
}

.dashboard-interface {
    // width: 80%;
    margin-top: 5%;
}


.content {
    display: flex;
    justify-content: space-between;
    width: 100%
}