
// #map {
//   position: absolute;
//   bottom: 0;
//   /* margin-bottom: 100; */
//   display: flex;
//   align-items: flex-end;
//   height: 25vh;
//   width: 25vh;
// }

// .map {
//   height: 35vh;
//   width: 35vh;
//   top: 30%;
//   right: 5%;
//   left: 5%;
//   bottom: 15%;
//   border: solid red 3px;
// }

.map-container {
  position: absolute;
  width: 288px;
  height: 287px;
  top: 12%;
  bottom: 0;
  // bottom: 30%;

}
