
.navFixed {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
}

.button_navBar {
    background-color:rgb(252, 202, 111);
    color: rgb(20, 19, 19);
    margin-right: 50px;
}
.logout_button {
    margin-left: 40px; 
    margin-right: 40px;

}