$font-family: "Source Sans Pro", sans-serif;

$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;

// $dark-background: linear-gradient(to top, rgb(37, 36, 36), rgb(138, 135, 135) 70%, #F8F9FA 100%);
$dark-background: rgb(41, 41, 48);


$weeks-colors: #54a0ff, #48dbfb, #1dd1a1, #5f27cd;
$booked-color: #54a0ff;
$danger-color: #ee5253;
$error-color: #ff9f43;
$confirm-color: #10ac84;

$spacing: 2rem;
