.title__summary {
  background-color: orange;
  width: 900px !important;
  margin-left: 20px;
}

.summary__address {
  background-color: rgba(255, 166, 0, 0.795);
}

.bottom {
  padding-top: 15px;
  border: 0;
  // border-radius: 100px;
  background-color: rgba(245, 193, 97, 0.678);
}
.address__info {
  background-color: rgba(245, 193, 97, 0.678);
  border-color: blue;
}
// .address__info__table {
//   background-color: rgba(128, 128, 128, 0.527);
// }

.table__summ {
  background-color: transparent;
  border: black !important;
}

// .address_header {
//   padding: 10px;
// }

.test__summary {
  padding: 20px;
}

.border_cells {
  border: black solid 1px !important;
}
.tickets_summary_title {
  padding: 0px !important;
  margin: 0px !important;
}
