.title__summary {
  background-color: orange;
}

.summary__address {
  background-color: rgba(255, 166, 0, 0.795);
}

.bottom {
  padding-top: 15px;
  border:0;
  border-radius: 100px;
}
.address__info {
  background-color: rgba(245, 193, 97, 0.678);
  border-color: blue;
}
// .address__info__table {
//   background-color: rgba(128, 128, 128, 0.527);
// }

.table__summ {
  background-color: transparent;
  border: black !important;
}