.login__form {
  position: fixed;
  color: white;
  background: linear-gradient(#2b2929 10%, #ff910000 90%);
  padding: 50px;
  border-radius: 80px;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(10%, -70%);
  width: 35%;
  align-items: center;
}

.login__bkg {
  position: fixed;
  width: 100%;
  height: 100%;
}
.logo__login {
  padding-bottom: 15px;
  height: 60%;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login__title {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 5px solid #ef8633;
}

.form__label {
  padding: 3px;
}
.no__account {
  text-align: center;
  color: rgb(58, 58, 58);
}
