.login__form {
  position: fixed;
  // display: flex;
  color: white;
  // flex-direction: column;
  // justify-content: flex-end;
  // background-color: rgba(0, 0, 0, 0.637);
  background: linear-gradient(#2b2929 10%, #ff910000 90%);
  padding: 30px;
  border-radius: 80px;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-0%, -70%);
  width: 40%;
  align-items: center;
  // border: black 3px solid
}

.login__bkg {
  position: fixed;
}
.logo__login {
  padding-bottom: 15px;
  height: 60%;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.issue__actions {
  display: flex;
  justify-content: flex-end;

}

.login__title {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 5px solid #EF8633;
}

.form__label {
  padding: 3px;
}
.no__account {
  text-align: center;
  color: rgb(58, 58, 58);
}